@mixin massive
  @include span-columns(12)

@mixin green_button
  background-color: $green
  color: $base
  height: 66px
  font-size: 24px

.new_feedback_group, .new_feedback_case
  @include massive
  .input
    label
      display: none
    input[type=text]
      @include span-columns(10)
      font-size: 33px
      padding: 10px
  input[type=submit]
    @include span-columns(2)
    @include green_button
@media (-webkit-min-device-pixel-ratio: 1.25)
  #caseforms
    input[type=submit]
      height: 150px !important
#caseforms
  input[type=submit]
    @include span-columns(12)
    height: 120px
    cursor: pointer

    &.happy
      background-color: $green
      border: 5px solid $background
      background: $green image-url('faces/white_happy.png') center center no-repeat
      background-size: 60px 60px
      text-indent: -99999px
      &:hover
        background-color: $lightgreen
      &:active
        background-color: $darkgreen

    &.meh
      color: $orange
      border: 5px solid $background
      background: $orange image-url('faces/white_meh.png') center center no-repeat
      background-size: 60px 60px
      text-indent: -99999px
      &:hover
        background-color: $lightorange
      &:active
        background-color: $darkorange

    &.unhappy
      background: $red image-url('faces/white_unhappy.png') center center no-repeat
      background-size: 60px 60px
      text-indent: -99999px
      color: $red
      border: 5px solid $background
      &:hover
        background-color: $lightred
      &:active
        background-color: $darkred
